#puzzleContainer {
    border: 1px solid #ccc;
    border-width: 1px 0 0 1px;
    float: left;
}

#spinner {
    display: none;
    padding-top: 7px;
}

#cluesContainer {
    float: left;
    -webkit-user-select:none;
    -moz-user-select:none;
}

#acrossCluesContainer {
    padding: 10px;
    float: left;
}

#downCluesContainer {
    padding: 10px;
    float: right;
}

#newPuzzleControls {
    float: right;
    -webkit-user-select:none;
    -moz-user-select:none;
}

#puzzleTitle {
    font-size: 1.7em;
    font-family: monospace;
    -webkit-user-select:none;
    -moz-user-select:none;
}

.saveLoad {
    float: right;
}

.gridCell {
    border: 1px solid #ccc;
    border-width: 0 1px 1px 0;
    float: left;
    text-align: center;
    -webkit-user-select:none;
    -moz-user-select:none;
}

.focused {
    outline-style: dashed;
}

.gridNumber {
    font-size: 0.7em;
    color: gray;
    float: left;
}

.gridLetter {
    font-size: 1.4em;
    font-family: monospace;
    float: right;
    padding-right: 13px;
    padding-top: 10px;
}

.tentative {
    color: #989898;
}

.blackCell {
    background-color: black;
}

.blue {
    background-color: blue;
}

.helpButton {
    color: white;
    font-size: 1.6em;
    font-family: monospace;
    font-weight: bold;
    padding-top: 7px;
}
