.gridContainer {
    border: 1px solid #ccc;
    border-width: 1px 0 0 1px;
}

.gridCell {
    border: 1px solid #ccc;
    border-width: 0 1px 1px 0;
    float: left;
}

.black {
    background-color: black;
}
